@import "/css/main.css";
@import "/css/variables.scss";

body {
  font-family: 'Roboto', sans-serif;
  color: $text-dark;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}