// site colors
$primary: #3ca0f0;
$light-blue: #daedfb;
$dark-blue: #07004d;

// text colors
$text-dark: rgb(7 0 77 / 87%);
$text-dark-med: rgb(7 0 77 / 60%);
$text-dark-disabled: rgb(7 0 77 / 38%);

// breakpoints
$phone: 576px;
$tablet: 768px;

// box shadows
$box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
